<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    (function(){try{var s=localStorage.getItem('theme');if(s)document.documentElement.setAttribute('data-theme',s);}catch{}})();
  </script>

  {{template "base/head.html" .}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>VLU Infrastructure Management System</title>
  <script type="text/javascript">
    // window.data = JSON.parse("{{.data}}")
    window.symbol = "{{.symbol}}"
    window.theme = "{{.theme}}"
    window.series = "{{.series}}"
    window.limit = "{{.limit}}"
    window.chart = "{{.chart}}"
  </script>
<link href="/static/js/webpack/dist/infrastructure-manage.57847a43da77c62de80e.css" rel="stylesheet"></head>
<body style="height: 100vh">
<div id="root" style="height: 100%"></div>
<script defer src="/static/js/webpack/dist/infrastructure-manage.bundle.57847a43da77c62de80e.js"></script></body>
</html>