<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="author" content="SystemWriter"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description"
      content="VLU Infrastructure Management System"/>
<meta name="keywords"
      content="management,realtime, storage control">
<meta property="og:title" content="VLU Infrastructure Management System">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image"
      content="">
<meta property="og:description"
      content="VLU Infrastructure Management System">
<meta name="twitter:card" content="summary">
<meta name="twitter:title"
      content="VLU Infrastructure Management System">
<meta name="twitter:image"
      content="">
<meta name="twitter:description"
      content="VLU Infrastructure Management System">
<meta charset="UTF-8">

<link rel="icon" type="image/png" sizes="32x32" href="https://vlu.edu.vn/icons/favicon_logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://vlu.edu.vn/icons/favicon_logo.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://vlu.edu.vn/icons/favicon_logo.png">
<meta name="theme-color" content="#0b1020">

<link rel="shortcut icon"
      href=""/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">