<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    (function(){try{var s=localStorage.getItem('theme');if(s)document.documentElement.setAttribute('data-theme',s);}catch{}})();
  </script>

  {{template "base/head.html" .}}
  <meta charset="UTF-8">
  <title>VLU Infrastructure Management System</title>
  <script type="text/javascript">
    // window.data = JSON.parse("{{.data}}")
    window.symbol = "{{.symbol}}"
    window.theme = "{{.theme}}"
    window.series = "{{.series}}"
    window.limit = "{{.limit}}"
    window.chart = "{{.chart}}"
  </script>
</head>
<body style="height: 100vh">
<div id="root" style="height: 100%"></div>
</body>
</html>